@import 'definitions';
$card-width: 220px;
$card-height: 200px;

.categorias{
    margin: 10px;
    .text-categorias{
        display: inline-block;
        margin-left: 10px;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }
}

.btn-site-projeto,.btn-site-projeto:hover {
    vertical-align: middle;
    border: 1px solid #ABC837;
    color: #6A7D2C;
    font-weight: bold;
    font-size: 13px;
    margin: 20px;
}
